.Names {
  position: relative;

  .toggle {
    padding: 9px;
    border: 0;
    font: var(--fontMain);
    color: black;
    background-color: white;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: #8778ef;
    }
  }


  svg {
    margin-left: 10px;
  }

  > input {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: calc(100% + 1px);
    z-index: 20;
  }

  .chips {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    z-index: 10;
  }

  .chip {
    display: inline-block;
    padding: 3px 6px;
    margin: 6px 3px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    font: var(--fontMain);
    color: black;
    background-color: white;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: #8778ef;
    }
  }
}

.Header .Names > input {
  border: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
