.Toggles {
  position: relative;

  .toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    text-align: left;
    padding: 9px;
    border: 0;
    font: var(--fontMain);
    color: black;
    background-color: white;
    transition: background-color 0.3s ease-in;

    &:hover {
      background-color: #8778ef;
    }
  }

  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 50;

    input { display: none; }

    button {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 5px 0;
      padding: 5px;
      font: var(--fontMain);
      border: 0;
      background: none;
      color: white;
      text-align: left;
      svg {
        margin-right: 10px;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
