@import url(~sanitize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap?family=Lato:wght@300;400&display=swap');

html {
  --fontMain: 1rem 'Roboto Slab', serif;
  --fontAlt: 1rem 'Lato', sans-serif;

  font: var(--fontMain);

  --colorMain: #eee;
  --colorAlt: #999;

  --colorNone: hsla(0, 0%, 0%, 0);

  --bgColor: 17, 21%, 11%;
  --colorBg: hsl(var(--bgColor));
  --colorBgTransparent: hsla(var(--bgColor), 0.6);

  --bgColorAlt: 0, 0%, 30%;
  --colorBgAlt: hsl(var(--bgColorAlt));
  --colorBgAltTransparent: hsla(var(--bgColorAlt), 0.6);

  --barHeight: 3rem;
}

html, body, #react-root {
  width: 100%;
  height: 100%;

  color: var(--colorMain);
  background: var(--colorBg);
}

#react-root {
  background-image: url("../../assets/neverwinter-eye.jpg");
  background-size: cover;
  background-position: center center;
}

.App {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: row;
  background: rgba(0,0,0, 0.3);

  .notice {
    text-align: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
